@import "tailwindcss";

:root {
  /* --primary: #6c71fd; */
  --primary: #052638;
  --blue: #0b3955;
  --blue-text: #6ce7fd;
  --success: #0dda7a42;
  --success-text: #14ca74;
  --danger: #ff5a6533;
  --danger-text: #ff5a65;
  --primary-text: #fff;
  --warning: #ffb01633;
  --warning-text: #fdb52a;
  --important: #101936;
}

body {
  background: #052638;
  overflow-x: hidden;
}
